.layout_container{
  background-color: #fafafa !important;
}

.layout_content{
  min-height: 100vh;
  flex-direction: column;
  background-color: transparent !important;
  display: flex;
}

.dashboard_container{
  background: transparent !important;
}